* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}
body ::-moz-selection {
  background-color: green;
  color: white;
}
body ::selection {
  background-color: green;
  color: white;
}

.top-nav {
  background: linear-gradient(129deg, rgb(57, 145, 26) 50%, rgb(38, 100, 38) 50%);
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 140px;
}

.top-nav ul #twitter {
  background-color: white;
  height: 20px;
  width: 20px;
  margin: 15px;
}

.top-nav ul #youtube {
  background-color: white;
  height: 20px;
  width: 20px;
  margin: 15px;
}

.top-nav ul #insta {
  background-color: white;
  height: 20px;
  width: 20px;
  margin: 15px;
}

.top-nav ul #facebook {
  background-color: white;
  height: 20px;
  width: 20px;
  margin: 15px;
}

.vl {
  border: 0.2px solid white;
  height: 25px;
}

.middle-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(129deg, rgb(12, 32, 5) 46%, rgb(23, 73, 23) 46%);
  height: 110px;
}
.middle-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
}

.middle-nav ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 14px 15px;
  margin: 5px;
}
.middle-nav ul li a:hover {
  background-color: white;
  color: black;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(129deg, rgb(53, 100, 35) 40%, rgb(39, 207, 39) 40%);
  height: 90px;
}

.section {
  height: 700px;
  width: 100%;
  margin-top: 40px;
  background-image: url(/images/psl\ image\ \(2\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 800px) {
  .section {
    width: 100%;
    height: 400px;
  }
}

#h2 {
  text-align: center;
  color: green;
  margin: 20px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  height: 200px;
}

.teams-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.teams-images #img3 {
  background: transparent;
}

.score-board {
  background: -webkit-gradient(linear, left top, left bottom, from(#2a922a), to(rgb(26, 102, 16)));
  background: linear-gradient(#2a922a, rgb(26, 102, 16));
  color: white;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  row-gap: 0px;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.video a button {
  background: transparent;
  border: none;
}
.video a button img {
  background: transparent;
  height: 80px;
  width: 80px;
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.image-gallery .images {
  height: 300px;
  width: 400px;
}

.brands-img {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}
.quick-links h3 {
  margin-left: 35px;
}
.quick-links li {
  list-style-type: none;
}
.quick-links li a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.quick-links li a:hover {
  color: #145e14;
}
.quick-links li a img {
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid black;
  padding: 10px;
  size: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home img {
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid black;
  padding: 10px;
  size: 10px;
  margin-right: 10px;
  margin-top: -12px;
  display: inline;
}
.home img p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4px;
}

.socialmedialink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  margin-left: 20px;
}
.socialmedialink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socialmedialink ul li {
  list-style: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1d751d;
  width: 100%;
  height: 70px;
  margin-bottom: 2px;
  position: relative;
}
.footer p {
  color: white;
  margin-left: 60px;
}