* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    ::selection {
        background-color: green;
        color: white;
    }
}

.top-nav {
    // background: linear-gradient(to right, #2eb42e , rgb(26, 102, 16)) ;
    // background-color: rgb(54, 85, 9);
    background: linear-gradient(129deg, rgb(57, 145, 26) 50%, rgb(38, 100, 38) 50%);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    // @media (max-width:1200px){
    //     background-color: black;

    // }
    // @media (max-width:900px){
    //     background-color: rgb(218, 27, 27);
    // }
    ul {
        display: flex;
        // justify-content: space-between;
        list-style: none;
        align-items: center;
        margin-right: 140px;
        // justify-content: space-around; 

    }
}

.top-nav ul #twitter {
    background-color: white;
    height: 20px;
    width: 20px;
    margin: 15px;
    // padding: 2px;
    // border-left: 1px solid white;
}

.top-nav ul #youtube {
    background-color: white;
    height: 20px;
    width: 20px;
    margin: 15px;
}

.top-nav ul #insta {
    background-color: white;
    height: 20px;
    width: 20px;
    margin: 15px;
}

.top-nav ul #facebook {
    background-color: white;
    height: 20px;
    width: 20px;
    margin: 15px;
    // border-left: 1px solid white;
}

.vl {
    border: 0.2px solid white;
    height: 25px;
}

.middle-nav {
    display: flex;
    // background-color:rgb(14, 43, 14);
    background: linear-gradient(129deg, rgb(12, 32, 5) 46%, rgb(23, 73, 23) 46%);
    height: 110px;

    // @media (max-width:900px){
    //  display: none;
    //  background-image: url(lahore\ qalanders.png) cover;
    // }
    ul {
        // color: white;
        list-style: none;
        display: flex;
        font-weight: 900;
        // justify-content: space-around;

    }
}

.middle-nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 14px 15px;
    margin: 10px;

    &:hover {
        background-color: white;
        color: black;
    }

    //  @media (max-width:800px){
    //     width: 100%;
    //     // height: 400px;
    //     justify-content: center;
    //    }
}

.bottom-nav {
    display: flex;
    // background-color: rgb(54, 107, 54);
    // background: linear-gradient(to right, #2eb42e , rgb(26, 102, 16)) ;
    background: linear-gradient(129deg, rgb(53, 100, 35) 40%, rgb(39, 207, 39) 40%);
    height: 90px;
    // @media (max-width:800px){
    //     width: 100%;
    //     // height: 400px;
    //    }
}

.section {
    height: 700px;
    width: 100%;
    margin-top: 40px;
    background-image: url(./images/psl\ image\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width:800px) {
        width: 100%;
        height: 400px;
    }
}

#h2 {
    text-align: center;
    color: green;
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    // padding-left: 4px;
    width: 80%;
    height: 200px;

}

// // #participating-team{
// //     width: 80%;
//     // border: none;
//     // margin-left: auto;
//     // margin-right: auto;
//     // display: flex;
//     // justify-content: center;
//     // max-width: 100%;
// }
.teams-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & #img3 {
        background: transparent;
    }

    // justify-content: space-between;

    //    @media (max-width:600px){
    //     #img1{
    //         display: none;

    //     }
    //     #img3{
    //         display: none;
    //     }
    //    } 
}

.score-board {
    background: linear-gradient(#2a922a, rgb(26, 102, 16));
    // background-color:  rgb(29, 88, 29) ;
    color: white;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    // padding: 20px;
    // font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    column-gap: 0px;
    row-gap: 0px;
}

.video {
    // background-image: url(video\ poster.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    // width:900px;
    // width: 70%;
    //    height: 500px; 
    // margin-left: auto;
    // margin-right: auto;

    a {
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;

        button {
            background: transparent;
            border: none;

            img {

                background: transparent;
                height: 80px;
                width: 80px;
            }
        }
    }

}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    & .images {
        height: 300px;
        width: 400px;
    }

    // & .overlay{
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background-color: #80df80;
    //     color: white;
    //     text-align: center;
    //     padding: 10px;
    //     opacity: 0;
    //     transition: opacity 0.3s;
    // }
}

.brands-img {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;

    h3 {
        margin-left: 35px;
    }

    ul {
        li {
            // p {
            //     display: flex;
            //     align-items: center;
            //     justify-content: flex-start;
            // }
        }
    }

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            color: black;
            font-weight: 100;
            margin: 2px;
            display: flex;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;

            &:hover {
                color: #145e14;
            }

            img {
                width: 40px;
                height: 40px;
                background: none;
                border: 1px solid black;
                padding: 10px;
                size: 10px;
                margin-right: 10px;
                margin-top: 5px;

            }
        }
    }

    // img {
    //     width: 40px;
    //     height: 40px;
    //     background: none;
    //     border: 1px solid black;
    //     padding: 10px;
    //     size: 10px;
    //     margin-right: 10px;
    //     margin-top: 15px;
    // }
}

.home {
    display: flex;

    // justify-content: center;
    ul {
        li {
            list-style: none;
            display: flex;
            align-items: center;
           
        }
    }

    img {
        width: 40px;
        height: 40px;
        background: none;
        border: 1px solid black;
        padding: 10px;
        size: 10px;
        margin-right: 10px;
        margin-top: -12px;
        display: inline;

        & p {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-top: 4px;
        }
    }

}

.footer {
    display: flex;
    background-color: #1d751d;
    width: 100%;
    height: 70px;
    margin-bottom: 2px;
   position: relative;

    p {
        color: white;
        margin-left: 60px;
    }

}